.place__detail_main{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:2rem;
    padding: 2rem;
    justify-content: center;
}
.place__header_name{
    color: #002B5B;
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 500;
}
.flight_details{
    color: black;
    font-size: 1rem;
}
.place_details{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap:2rem;
}
.place__detail_image{
    width: 18rem;
    height: 20rem;
    border-radius: 50px;
}
.booking_srvice__header{
    font-family: 'Roboto';
    color: #002B5B;
    font-size: 2.5rem;
}
.question_confirn__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.book_confirm__ques{
    font-size: 2rem;
    font-family: 'Robotto';
}
.booking_service__image{
    border-radius: 50%;
   
    height: 11rem;
    width: 13rem;
}
.stays__book_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.stay__book_card{
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 20px;
    background-color:#0CBABA;
    justify-content: center;
    flex-direction: column;
}