.dash__main_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}
.booking__main{
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
    justify-content: center;
}
.booked__header_container{
    display: flex;
    flex-direction: row;
    padding: 3rem;
    /* justify-content: space-between; */
    gap: 10rem;
}
.booked_tabs{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.contact_img {
    border-radius: 15px;
    width: 100%;
}
.profile__main{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 10rem;
    justify-content: center;
}
.profile__pic{
    border-radius: 15rem;
    width: 10rem;
}
.contact_img img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
}
.user_profile__image{
    border-radius: 10rem;
    width: 10rem;
}
.booked__card{
    display: flex;
    width: 10rem;
    height: 10rem;
    flex-direction: column;
    background: rgb(16,115,149);
background: linear-gradient(45deg, rgba(16,115,149,0.8608485630580357) 95%, rgba(26,100,159,0.8748541652989321) 100%);
    justify-content: center;
}
.booked_container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}
.contactCard {
    width: 250px;
    height: 320px;
    background: linear-gradient(180deg,rgba(9,76,131,.75),#21b8cb),#efffec;
    color: #ffff;
    box-shadow: 0px 14px 30px 2px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
    font-family: var(--primary-font);
}
.contactCard h2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 0.5rem;
}

.contactCard h3 {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}
.booked__title{
    color: #002B5B;
    font-size: 2rem;
    cursor: pointer;
}
.booked_places{
    color: #002B5B;
    font-size: 1.75rem;
    cursor: pointer;
}
.booked_stays{
    color: #002B5B;
    font-size: 1.75rem;
    cursor: pointer;
}
.booked_travels{
    color: #002B5B;
    font-size: 1.75rem;
    cursor: pointer;
}
.booked_travels:hover{
    text-decoration: underline;
}
.booked_stays:hover{
    text-decoration: underline;
}
.booked_places:hover{
    text-decoration: underline;
}

/* profile box */







.newtravel{
    background-color: #2B4865;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}



@media screen and(min-width:200px) {
    .container {
        height: 350px;
        width: 200px;
    }
    h2 {
        font-size: x-large;
    }
    .icons i {
        font-size: large;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   .profile__main{
    flex-direction: column;
    gap: 2rem;
   }
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}
