@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/* *
{
  padding:0;
  margin:0;
  box-sizing:border-box;
} */
.place__container
{
  /* width:100%;
  height:100vh; */
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  /* background: orange; */
  font-family: 'Megrim', cursive;
}
.place__card
{
  width:15rem;
  height:20rem;
  margin:30px 15px;
  border-radius:15px;
  padding:1.7em;
  position:relative;
  display:flex;
  align-items:flex-end;
  transition: transform 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}
 .place__img 
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:15px;
}
.place__info-card
{
  position:relative;
  z-index:3;
  color:#fff;
  transform:translateY(50px);
  transition:transform 0.4s;
  opacity:0;
}
.place__info-card, .place__p
{
  letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
}
.place__card:before
{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background-color:rgba(0,0,0,0.7);
  transition:opacity 0.5s;
  border-radius:15px;
  z-index:2;
}
.place__card:hover
{
  transform:translateY(20px);
}
.place__card:hover .place__info-card
{
  opacity:1;
  transform:translateY(0px);
}
.place__card:hover::before
{
  opacity:1;
}