
blockquote {
    padding: 0;
    margin: 0;
}

section.t-bq-section {
    padding: 30px;
    margin-bottom: 60px;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
    max-width: 576px;
    margin: 0 auto;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
    max-width: 100%;
}



.t-bq-quote-paul {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    box-shadow: 2px 2px 25px #cecece;
    border-radius: 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-pattern {
    flex-basis: 80px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
    border-radius: 10px 0 0 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-base {
    flex-basis: calc(100% - 80px);
    background: #ffffff;
    padding: 40px 30px 50px 80px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 10px 10px 0;
}

.t-bq-quote-paul .t-bq-quote-paul-qmark {
    position: absolute;
    top: 50px;
    left: 105px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 42pt;
    color: #999999;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.t-bq-quote-paul .t-bq-quote-paul-userpic {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 70px;
    height: 70px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.t-bq-quote-paul .t-bq-quote-paul-meta {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px dotted #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author,
.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
    color: #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author cite {
    font-style: normal;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
    font-size: 9pt;
}

@media screen and (max-width: 768px) {

    .t-bq-quote-paul .t-bq-quote-paul-pattern {
        flex-basis: 20px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-base {
        flex-basis: calc(100% - 20px);
        padding: 100px 30px 50px 30px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-userpic {
        width: 50px;
        height: 50px;
        left: 40px;
        top: 20px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-qmark {
        left: 100px;
        top: 45px;
    }
}
